@keyframes matrix-text {
    0% {
        content: attr(data-text)
    }

    to {
        content: attr(data-matrix)
    }
}

#output,
#terminal,
body {
    background-color: transparent;
    color: #fff
}

body {
    font-family: "Inconsolata", monospace
}

h1,
h2 {
    font-size: 32px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: #0f0;
    text-shadow: 0 0 10px #0f0
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

#terminal {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px
}

#output {
    margin-bottom: 20px;
    overflow: auto;
    max-height: 300px
}

#input {
    width: 80%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%
}

#prompt {
    display: flex;
    align-items: center
}

#path {
    font-size: 14px
}

@media only screen and (min-width:600px) {
    h2 {
        display: none
    }
}

@media only screen and (max-width:600px) {
    h1 {
        display: none
    }
}

@media only screen and (min-width:375px) {
    #terminal {
        font-size: 14px
    }
}

@media only screen and (min-width:414px) {
    #terminal {
        font-size: 16px
    }
}

@media only screen and (min-width:390px) {
    #terminal {
        font-size: 16px
    }
}

@media only screen and (min-width:428px) {
    #terminal {
        font-size: 26px
    }
}

@media only screen and (min-width:810px) {
    #terminal {
        font-size: 29px
    }
}

@media only screen and (min-width:384px) {
    #terminal {
        font-size: 26px
    }
}

@media only screen and (min-width:412px) {
    #terminal {
        font-size: 29px
    }
}

@media only screen and (min-width:30px) {
    #terminal {
        font-size: 29px
    }
}

@media only screen and (max-width:600px) {
    h1 {
        font-size: 24px
    }
}