@keyframes blink {
    80% {
        visibility: hidden
    }
}

#output,
#terminal,
body {
    background-color: #000;
    color: #fff
}

body {
    font-family: "Inconsolata", monospace
}

h1 {
    font-size: 2em;
    text-align: center
}

#terminal {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px
}

@media only screen and (min-width:375px) {
    #terminal {
        font-size: 1.2em
    }
}

@media only screen and (min-width:414px) {
    #terminal {
        font-size: 1.4em
    }
}

@media only screen and (min-width:390px) {
    #terminal {
        font-size: 1.4em
    }
}

@media only screen and (min-width:428px) {
    #terminal {
        font-size: 1.6em
    }
}

@media only screen and (min-width:810px) {
    #terminal {
        font-size: 1.8em
    }
}

@media only screen and (min-width:384px) {
    #terminal {
        font-size: 1.6em
    }
}

@media only screen and (min-width:412px) {
    #terminal {
        font-size: 1.8em
    }
}

@media only screen and (min-width:30px) {
    #terminal {
        font-size: 1.8em
    }
}

#output {
    margin-bottom: 20px;
    overflow: auto;
    max-height: 300px
}

#prompt {
    display: flex;
    align-items: center
}

#path {
    font-size: 14px
}

#input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-family: "Inconsolata", monospace
}

#input:focus::before {
    content: "|";
    visibility: visible;
    animation: blink .5s step-end infinite
}